#!/bin/sh

# This file holds the common configuration for utilux
# Remove the '#' before a line to un-comment it

# This file can be automatically updated with new content
# To do so, launch utilux-update-config

#   ___________________________
# _/ Core - Utilux core config \_

# Use custom terminal prompt (false by default)
#export UTILUX_ALLOW_PROMPT_CHANGE="true"


#   _________
# _/ Scripts \_

# If set to true, gxc will perform a dxd before checking out a branch and dxu after
#export UTILUX_GXC_CAN_USE_DOCKER="true"


#   ______
# _/ Jira \_
# So far used by gxb+ and jxt scripts to fetch any issue information

# Your organization jira host name (with '/rest/api/3' suffix)
#export UTILUX_JIRA_HOST=""
# Email of your Jira account
#export UTILUX_JIRA_EMAIL=""
# Your api jira token, which can be generated at https://id.atlassian.com/manage-profile/security/api-tokens
#export UTILUX_JIRA_TOKEN=""


#   ________
# _/ Gitlab \_

# Your gitlab host (with "/api/v4" suffix)
#export UTILUX_GITLAB_HOST=""
# Can be configured at https://YOUR_GITLAB_HOST/-/user_settings/personal_access_tokens
# (Needed scope : api, read_api)
#export UTILUX_GITLAB_TOKEN=""


#   ___________________
# _/ Central directory \_

# Utility to group every important user-document in one place
# Its setup can be found in scripts/fresh-install.sh
# Only configure these variables if you wish to use 'central' directory

# Central directory (local copy path, MUST END WITH A SLASH)
#export UTILUX_CENTRAL_DIR="$HOME/central/"

# Central directory (backup path, MUST END WITH A SLASH) - Can be updated with utilux-central-backup
#export UTILUX_CENTRAL_BACKUP_DIR="/media/$USER/backupdisk/"

