#!/bin/sh

# This file holds the common configuration for utilux
# Remove the '#' before a line to un-comment it

#   ___________________________
# _/ Core - Utilux core config \_

# Allow utilux to change your terminal prompt (false by default)
#export UTILUX_ALLOW_PROMPT_CHANGE="true"


#   ___________
# _/ Dashboard \_

# Used to change port of utilux dashboard (9999 by default)
#export UTILUX_DASHBOARD_PORT="9999"


#   _____________________________________________________________________________
# _/ Jira - So far used by the dashboard and gxb+ to fetch your work information \_

# Your organization jira host name (with api suffix such as '/rest/api/3')
#export UTILUX_JIRA_HOST=""
# Email of your Jira account
#export UTILUX_JIRA_EMAIL=""
# Your api jira token, which can be generated at https://id.atlassian.com/manage-profile/security/api-tokens
#export UTILUX_JIRA_TOKEN=""


#   _______________________________________________________________________
# _/ Gitlab - Used by the dashboard to display your current merge requests \_

# Your gitlab host (with api suffix such as "/api/v4")
#export UTILUX_GITLAB_HOST=""
# Can be configured at https://YOUR_GITLAB_HOST/-/user_settings/personal_access_tokens
# (Needed scope : api, read_api)
#export UTILUX_GITLAB_TOKEN=""

