#!/bin/sh

# This file holds the common configuration for utilux
# Remove the '#' before a line to un-comment it

# This file can be automatically updated with new content
# To do so, launch utilux-update-config

#   ___________________________
# _/ Core - Utilux core config \_

# Use custom terminal prompt (false by default)
#export UTILUX_ALLOW_PROMPT_CHANGE="true"


#   _________
# _/ Scripts \_

# If set to true, gxc will perform a dxd before checking out a branch and dxu after
#export UTILUX_GXC_CAN_USE_DOCKER="true"


#   ______
# _/ Jira \_
# So far used by gxb+ and jxt scripts to fetch any issue information

# Your organization jira host name (with '/rest/api/3' suffix)
#export UTILUX_JIRA_HOST=""
# Email of your Jira account
#export UTILUX_JIRA_EMAIL=""
# Your api jira token, which can be generated at https://id.atlassian.com/manage-profile/security/api-tokens
#export UTILUX_JIRA_TOKEN=""


#   ________
# _/ Gitlab \_

# Your gitlab host (with "/api/v4" suffix)
#export UTILUX_GITLAB_HOST=""
# Can be configured at https://YOUR_GITLAB_HOST/-/user_settings/personal_access_tokens
# (Needed scope : api, read_api)
#export UTILUX_GITLAB_TOKEN=""


#   ___________________
# _/ Backup directory \_

# utilux-launch-backup command can help you sync a source and a target
# useful to sync your documents to an external disk

# To group all of your document in one place, see
# https://github.com/yonis-savary/skeln

# Source directory (local copy path, MUST END WITH A SLASH)
#export UTILUX_BACKUP_SOURCE="$HOME/central/"

# Target directory (backup path, MUST END WITH A SLASH) - Can be updated with utilux-launch-backup
#export UTILUX_BACKUP_TARGET="/media/$USER/backupdisk/"

